@import "../../style/variables.scss";
@import "../../style/mixin.scss";

.introduce {
  border-radius: 7px;
  width: 100%;

  .weCodeBox {
    border: 1px solid;
    border-radius: 7px;
    width: 150px;
    height: 240px;
    margin: auto;

    .weCodeStyle {
      @include flexCenter;
      height: 130px;
      background-color: black;
      color: white;
      width: 130px;
      margin: 10px auto;
      border-radius: 7px;
    }
    .infoWrap {
      .content {
        margin-left: 10px;
        font-size: 20px;
        font-weight: bold;
        &:hover {
          cursor: pointer;
          color: $greenColor;
        }
      }
      .subContent {
        margin-left: 10px;
        margin-top: 3px;
        font-size: 15px;
      }
      .input {
        width: 80px;
        margin-left: 10px;
        margin-top: 5px;
      }

      .button {
        width: 40px;
      }

      .moveLink {
        font-size: 13px;
        margin-left: 10px;
      }
    }
  }
  .colorList {
    @include flexCenter;
    margin-top: 20px;
    gap: 10px;

    .colorBox {
      border: 1px solid black;
      border-radius: 10px;
      padding: 10px;
    }

    .colorListColor {
      width: 110px;
      height: 110px;
    }

    .colorName {
      margin: 10px 0 5px 0;
      font-weight: bold;
    }
    .colorRgbName {
      font-weight: bold;
    }
  }
}
