@import "/src/style/mixin.scss";

.color {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &Text {
    display: flex;
    gap: 10px;
  }

  .selected {
    @include colors;
    width: 24px;
    height: 24px;
    border: 1px solid black;
  }

  &Btn {
    @include colors;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
  }

  .color-button-box {
    display: flex;
    gap: 15px;
  }
}
